.wrapper {
    position: relative;
    height: 400px;
    width: 400px;
    
    border: 3px solid red;
}
.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: none;
}