.wrapper {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid blue;
}

.box {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
}

.button {
    
}