
.box {
    overflow: auto;
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    padding: 10;
    margin-top: 50px;
    
}

button {
    display: block;
    margin: 0 auto;
    height: 20px;
    margin-top: 30px;
    width: 80px;
}